@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
}

 body,html{
    background: linear-gradient(180deg, rgb(118, 123, 130) 0%, rgba(60, 124, 202, 0) 100%, rgba(33, 95, 218, 0) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
